<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href='/static/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href='/static/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href='/static/css/style.css'>
    <script type='text/javascript' src='/static/js/jquery-1.11.1.min.js'></script>
</head>
<body id="about">
    {% include "search/menu.html" %}
    <div class="container" style="text-align:left">
		<div class="about">
			<h1>About Us</h1>
			<p>Everytime I wanted to plan a trip somewhere, I spent a huge amount of time to find an interesting destination and then the attractions to visit at this destination. Most of the resources found on the web is hard to process as it has too much text, and, it doesn't give a sense of direction or distance. This website aims to collate information for ease of analysis by visualizing places on a map. Finally, it also lets us plan the trip including commute time and time spent at an attraction. Hopefully it will save everyone a lot of time to discover and plan their trips. </p>
		</div>
	</div>
</body>
</html>