<html>
<head>
    <link rel="stylesheet" type="text/css" href='/static/css/style.css'>
    <script type='text/javascript' src='/static/js/jquery-1.11.1.min.js'></script>
    <script type='text/javascript' src='/static/js/add_point_of_interest.js'></script>
    <script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBF_ghimLOB28fkKBKv6Nn8c7k1cbaSD-A&libraries=places'></script>
</head>
<body id="add_point_of_interest">
    {% include "search/menu.html" %}
    <div id="content">
        <h2>Add a point of interest</h2>
        <form action="" method="post" id="searchform">{% csrf_token %}
            <input id="autocomplete" placeholder="Enter the address"
                          onFocus="geolocate()" type="text" size="50"></input>
            <input type="submit" value="Search" />
            <div id="result"></div>
        </form>
        <form action="" method="post" id="looksgoodform" enctype="multipart/form-data">{% csrf_token %}
            <input type="submit" value="Looks Good?" style="display: none;" id="looksgood"/>
            <input type="submit" value="Search Again?" style="display: none;" id="searchagain"/>
            <div id="infobox" style="display: none;">
                <table>
                    {% for field in form.visible_fields %}
                        <tr>
                            <td>{{ field.help_text }}</td>
                            <td>{{ field }}</td>
                            <td>{{ field.errors }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <input type="submit" value="Save!" id="savepointofinterest"/>
            </div>
        </form>
        <div id="success" style="display: none;">
            <label>Point of interest added!</label>
        </div>
        <a href="" id="reset" style="display: none;">Start again!</a>
    </div>
</body>
</html>