<html>
<head>
    <style type="text/css">
        #destination-map-canvas { height: 350px; width:300px }
    </style>
    <link rel="stylesheet" type="text/css" href='/static/css/style.css'>
    <script type='text/javascript' src='/static/js/jquery-1.11.1.min.js'></script>
    <script type='text/javascript' src='/static/js/add_destination.js'></script>
    <script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBF_ghimLOB28fkKBKv6Nn8c7k1cbaSD-A&libraries=places'></script>
</head>
<body id="add_destination">
    {% include "search/menu.html" %}
    <div id="content">
        {% if not edit %}
            <form action="" method="post" id="searchform">{% csrf_token %}
                <input id="input-box" class="controls" type="text" placeholder="Search Box"></input>
                <input type="submit" value="Search" />
            </form>
        {% endif %}
        <form action="" method="post" id="looksgoodform" enctype="multipart/form-data">{% csrf_token %}
            <div id="messagebox" style="display: none;"><div>Destination already exists.&nbsp;<a href="" id="edit">Edit it?</a></div></div>
            {% if edit %}
            <div id="infobox">
            {% else %}
            <div id="infobox" style="display: none;">
            {% endif %}
                <table><tr><td>
                    <table>
                        {% for field in form.visible_fields %}
                            <tr>
                                <td>{{ field.help_text }}</td>
                                <td>{{ field }}</td>
                                <td>{{ field.errors }}</td>
                            </tr>
                        {% endfor %}
                    </table></td>
                    <td><div id="destination-map-canvas"></div></td></tr>
                </table>
                <input type="submit" value="Save" id="savedestination"/>
            </div>
        </form>
        <div id="success" style="display: none;">
            <label>Destination added!</label>
        </div>
        <a href="" id="reset" style="display: none;">Reset</a>
    </div>
</body>
</html>