<!DOCTYPE html>
<html>
  <head>
    <title>XPLOR</title>
    <link rel="stylesheet" type="text/css" href='/static/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href='/static/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href='/static/css/style.css'>
    <script type='text/javascript' src='/static/js/jquery-1.11.1.min.js'></script>
        <script type='text/javascript' src='/static/js/bootstrap.min.js'></script>
    <script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBF_ghimLOB28fkKBKv6Nn8c7k1cbaSD-A&libraries=places'></script>
    <script type='text/javascript'>
      $(document).ready(function() {
        var input = document.getElementById('input-box');
        var searchBox = new google.maps.places.SearchBox(input);
        google.maps.event.addListener(searchBox, 'places_changed', function() {
          window.location.replace('/search/plan/?searchfor=' + $('#input-box').val())
        });
      });

      function searchForLocation() {
        if ($('#input-box').val() != '') {
          window.location.replace('/search/plan/?searchfor=' + $('#input-box').val());
        } else {
          return false;
        }
      }

      function clickedViewMoreOrganize() {
        if ($('#organizeDiv').is(":visible")) {
          $('#organizeButton').html("Read more &raquo;")
        } else {
          $('#organizeButton').html("Show less &laquo;")
        }
        $('#organizeDiv').toggle();
      }

      function clickedViewMorePlan() {
        if ($('#planDiv').is(":visible")) {
          $('#planButton').html("Read more &raquo;")
        } else {
          $('#planButton').html("Show less &laquo;")
        }
        $('#planDiv').toggle();
      }

      function clickedViewMoreExplore() {
        if ($('#exploreDiv').is(":visible")) {
          $('#exploreButton').html("Read more &raquo;")
        } else {
          $('#exploreButton').html("Show less &laquo;")
        }
        $('#exploreDiv').toggle();
      }
    </script>
  </head>
  <body id="home">
    {% include "search/menu.html" %}
    <div class="container">
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Explore the world!</h1>
        <!--<p class="lead">Have you planned your next vacation? Not sure where to go? Not sure what to do at a destination? You can discover places, find interesting things to do and finally also plan your itinerary to minute by minute detail here! Bon Voyage!</p>

        <p>Find places near an address or search for a destination.</p>-->
        <br/><br/>
        <input id="input-box" class="controls" type="text" placeholder="Where do you want to go?" style="width:600px;height:40px"></input>
        <button type="submit" class="btn btn-primary" onclick="return searchForLocation();" style="width:90px; height:40px">Search</button>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Organize your trip</h2>
          <p>Add all the places you want to visit at a destination. See them all in one place and share your trip!</p>
          <p><a class="btn btn-primary" href="#" role="button" id="organizeButton" onclick="clickedViewMoreOrganize();" style="width:120px;">Read more &raquo;</a></p>
          <div id="organizeDiv" style="display:none">You can add all the attractions you want to visit at a destination easily and see them on a map. Once you have added and saved a trip, share them easily with anyone!</div>
        </div>
        <div class="col-lg-4">
          <h2>Plan your trip</h2>
          <p>Once you have figured out all the attractions you want to visit, plan your itinerary in great detail. See how much traveling/ visiting time you need.</p>
          <p><a class="btn btn-primary" href="#" role="button" id="planButton" onclick="clickedViewMorePlan();" style="width:120px;">Read more &raquo;</a></p>
          <div id="planDiv" style="display:none">You can choose which all attractions to visit at a destination and we will tell you the best order to visit the places and how much time the total trip will take.</div>
        </div>
        <div class="col-lg-4">
          <h2>Explore destinations</h2>
          <p>Discover destinations by finding what's near you or close to any address! Find out everything you can do at a destination by reading about attractions, filtering them by type, range etc.</p>
          <p><a class="btn btn-primary" href="#" role="button" id="exploreButton" onclick="clickedViewMoreExplore();" style="width:120px;">Read more &raquo;</a></p>
          <div id="exploreDiv" style="display:none">Don't find a destination or an attraction within a point of interest? Add them easily with a few clicks.</div>
        </div>
      </div>
      <!-- Site footer -->
      <!--<div class="footer">
        <p>&copy; XPLOR 2014</p>
      </div>-->
    </div> <!-- /container -->
  </body>
</html>
