<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href='/static/css/style.css'>
    <title>XPLOR</title>
    <script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBF_ghimLOB28fkKBKv6Nn8c7k1cbaSD-A&libraries=places'></script>
    <script type='text/javascript' src='/static/js/jquery-1.11.1.min.js'></script>
    <script type='text/javascript' src='/static/js/search.js'></script>
  </head>
  <body id="explore">
    {% include "search/menu.html" %}
    <input id="input-box" class="controls" type="text" placeholder="Search Box"></input>
    <div id="map-canvas"></div>
  </body>
</html>
