<div id="nav-bar">
	<ul>
		<li><a id="nav-explore" class="first" href="/search/">Explore</a></li>
		<li><a id="nav-plan" class="first" href="/search/plan/">Plan</a></li>
		<li><a id="nav-add_destination" href="/search/add_destination/">Add destination</a></li>
		<li><a id="nav-add_point_of_interest" href="/search/add_point_of_interest/">Add point of interest</a></li>
		<li><a id="nav-add_accommodation" href="/search/add_accommodation/">Add accommodation</a></li>
		<li><a id="nav-contact" class="last" href="/search/contact/">Contact</a></li>
	</ul>
</div>