<!DOCTYPE html>
<html>
  <head>
    <title>XPLOR</title>
    <style type="text/css">
        #modal-map-canvas { height: 300px; width:200px }
        #modal-map-canvas img{max-width:none}
    </style>
    <link rel="stylesheet" type="text/css" href='/static/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href='/static/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href='/static/css/style.css'>
    <script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBF_ghimLOB28fkKBKv6Nn8c7k1cbaSD-A&libraries=places'></script>
    <script type='text/javascript' src='/static/js/jquery-1.11.1.min.js'></script>
    <script type='text/javascript' src='/static/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='/static/js/plan.js'></script>
  </head>
  <body id="plan">
    {% include "search/menu.html" %}
    <form action="" method="post" id="searchform">{% csrf_token %}
      <input id="input-box" class="controls" type="text" placeholder="Search for a destination"></input>
      <div id="promptAddDestination" class="alert alert-info" role="alert" style="display:none">The location does not exist. 
        <a href="#" data-toggle="modal" data-target="#myModal" onclick="clickedAddNewDestination();">Add new destination?</a>
      </div>
      <div id="promptAddPointOfInterest" class="alert alert-info" role="alert" style="display:none">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div>The location doest not exist. You cannot include it in a trip plan until you add it.
        <a href="#" data-toggle="modal" data-target="#myModal" onclick="clickedAddNewPOI();">Add as point of interest?</a>&nbsp;
        <a href="#" data-toggle="modal" data-target="#myModal" onclick="clickedAddNewDestination();">Add as destination?</a></div>
      </div>
      <div id="messageContainer" style="display:none">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <div id="message" class="alert alert-info" role="alert"></div>
      </div>
    </form>
    <div style="height:100%; margin: 0px; padding: 0px">
      <div id="map-canvas"></div>
      <div id="infoBox" style="position:absolute; bottom:0px; right:0px; width:25%; height:100%; border: 1px solid #CCC; z-index:1;background:white; display:none; padding-top:70px">
        <div style="float:right;"> <a onclick="closeInfo();" href="#"> <img id="closePlanImg" title="Close" src="/static/images/close.png"></a></div>
          <div id="info-container" stype="padding:10px; background-color:#FFFFFF;margin-left: auto;margin-right: auto;"></div>
      </div>
      <div id="planBox" style="position:absolute; bottom:0px; right:0px; width:25%; height:100%; border: 1px solid #CCC; z-index:1;background:white; display:none; padding-top:70px; overflow-y:auto">
        <div style="float:right;"> <a onclick="closePlan();" href="#"> <img id="closePlanImg" title="Close" src="/static/images/close.png"></a></div>
          <div id="plan-container" stype="padding:10px; background-color:#FFFFFF;margin-left: auto;margin-right: auto;"></div>
          <button type="button" class="btn btn-primary" onclick="clickedSaveTrip();">Save!</button>
      </div>
      <div id="saveBox" style="position:absolute; bottom:0px; right:0px; width:25%; height:100%; border: 1px solid #CCC; z-index:1;background:white; display:none; padding-top:70px">
        <div style="float:right;"> <a onclick="closeSave();" href="#"> <img id="closePlanImg" title="Close" src="/static/images/close.png"></a></div>
        <div id="save-container" stype="padding:10px; background-color:#FFFFFF;margin-left: auto;margin-right: auto;">
          <div id="createNewTrip">
            <div>
              <span>Create a new trip?</span>
                &nbsp;&nbsp;<input type="radio" name="createNewTrip" value="Yes" onchange="createNewTripChange()">&nbsp;Yes</input>
                &nbsp;&nbsp;<input type="radio" name="createNewTrip" value="No" onchange="createNewTripChange()">&nbsp;No</input>
              <div id="newTripDiv" style="display:none;">
                <input placeholder="Enter trip name" id="newTripName"/>
                <input placeholder="Enter description" id="newTripDescription"/>
              </div>
              <div id="oldTripDiv" style="display:none;">
                <span>Select your trip:</span>
                <select id="selectTrip"></select>
              </div>
            </div>
            <button type="button" class="btn btn-primary" id="saveTripButton" onclick="saveTripToDatabase();" style="display:none;">Save!</button>
        </div>
      </div>
    </div>
    <div id="filterBox" class="shadowy transparent" style="position:absolute; bottom:35px; left:50px; width:410px; border: 1px solid #CCC; z-index:1;background:white;display: none;">
      <div id="filter-container">
        <div id="header">
          <label><b>Filters</b></label>
          <div style="float:right;"> <a id="toggleFilters" onclick="toggleFilters();" href="#"> <img id="toggleFiltersImg" title="Minimize" src="/static/images/minimize.png"> </a>
          </div>
        </div>
        <div id="filters">
            <div id="filter_range">
              <label><b>Range:</b></label><input type="range" min="0" max="100" value="52.5" id="range-slider" step=".1"/><span id="range-value">200</span><span>&nbsp;miles</span>
            </div>
            <div id="filters_additional">
              <div id="filter_salience">
                <label><b>Salience:</b></label><input type="range" min="1" max="10" value="10" id="salience-slider" step="1"/>
                <span id="salience-value">10</span>
              </div>
              <div id="filter_category"><label><b>Category:</b></label><span id="poiCategories"></span></div>
              <div id="filter_show_accommodation"><input type="checkbox" id="show_accommodation" onclick="clickedShowAccommodation();">
                        <label for="show_accommodation"><b>Show accommodation</b></label>
              </input></div>
            </div>
        </div>
      </div>
    </div>
    <div id="tripDetailBox" class="shadowy transparent" style="position:absolute; bottom:35px; right:50px; width:410px; border: 1px solid #CCC; z-index:1;background:white;display: none;">
      <div id="details-container" stype="padding:10px; background-color:#FFFFFF;">
        <div id="details-header">
          <label><b>Your plan</b></label>
          <div style="float:right;"> <a id="toggleDetails" onclick="toggleDetails();" href="#"> <img id="toggleDetailsImg" title="Minimize" src="/static/images/minimize.png"> </a>
          </div>
        </div>
        <div id="tripDetails">
          <div id="stayAtDiv">
            <label><b>Stay at:</b></label>
            <span id="accommodation"></span>
            <a href="#" id="clearStay" onclick="clearStay();">Clear</a>
          </div>
          <div>
            <label><b>Visit:</b></label><span id="poi"></span>
            <a href="#" id="selectAllPOICheckbox" onclick="selectAllPOICheckbox();">Select all</a>
            <a href="#" id="clearAllPOICheckbox" onclick="clearAllPOICheckbox();">Clear all</a>
          </div>
          <div><label><b>Start from:</b></label><span id="startfrom"><select id="select_startfrom"></select></span></div>
          <div><label><b>End at:</b></label><span id="endat"></span><select id="select_endat"></select></div>
          <div id="startEndMessageContainer" style="display:none; width:350px; height:50px; margin:0 auto;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div id="startEndMessage" class="alert alert-danger" role="alert">Choose start and end to plan.</div>
          </div>
          <div id="pointsOfInterestMessageContainer" style="display:none; width:350px; height:50px; margin:0 auto;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div id="pointsOfInterestMessage" class="alert alert-danger" role="alert">Choose at least a point of interest to save.</div>
          </div>
          <div id="maxWaypointsMessageContainer" style="display:none; width:350px; height:50px; margin:0 auto;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div id="maxWaypointsMessage" class="alert alert-danger" role="alert">Choose at most 8 way points to plan.</div>
          </div>
          <div style="padding-top:10px; padding-bottom:10px">
            <button type="button" class="btn btn-primary" onclick="planTrip();">Plan!</button>
            <button type="button" class="btn btn-primary" onclick="clickedSaveTrip();">Save!</button>
          </div>
        </div>
      </div>
    </div>
    <!--<div id="planBox" class="shadowy transparent" style="position:absolute; bottom:200px; right:50px; width:400px; border: 1px solid #CCC; z-index:1;background:white;display: none;">
      <div id="plan-container" stype="padding:10px; background-color:#FFFFFF;">
      </div>
    </div>-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="modalTitle">Add new point of interest</h4>
          </div>
          <div class="modal-body">
            <div class="form-horizontal">
              <table><tr><td style="width:75%">
                <div class="form-group">
                  <label for="address" class="control-label col-sm-4">Address:</label>
                  <div class="col-sm-8">
                    <input class="form-control" id="address" name="address" type="text" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label for="category" class="control-label col-sm-4">Category:</label>
                  <div class="col-sm-8">
                    <select class="form-control" id="category" name="category"></select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="description" class="control-label col-sm-4">Description:</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" id="description" name="description" type="text"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="timeRequired" class="control-label col-sm-4">Time Required:</label>
                  <div class="col-sm-8">
                    <input class="form-control" id="timeRequired" name="timeRequired" type="text"/>
                  </div>
                </div>
              </td>
              <td style="padding-left:30px"><div id="modal-map-canvas"></div>
              </td></tr></table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="clickedSaveNewPOI();" id="addNewPOIButton">Save changes</button>
            <button type="button" class="btn btn-primary" onclick="clickedSaveNewDestination();" id="addNewDestinationButton">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
