<html>
<head>
	<link rel="stylesheet" type="text/css" href='/static/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href='/static/css/font-awesome.min.css'>
    <link rel="stylesheet" type="text/css" href='/static/css/style.css'>
    <script type='text/javascript' src='/static/js/jquery-1.11.1.min.js'></script>
</head>
<body id="logout" style="padding-top:90px">
    {% include "search/menu.html" %}
    <div id="content" style="width:600px">
		<h4>You have logged out successfully!</h4>
	</div>
</body>
</html>