      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #input-box {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 500px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #input-box:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 500px;
      }

      /* For search box */
      #target {
        width: 450px;
      }
/*

ul {
	list-style-type:none; 
	margin:0; padding:0; 
	overflow:hidden;
}

ul li {
	list-style:none;
	display: inline;
}

ul li a {
	display:inline-block; 
	text-decoration:none; 
	text-align:center; 
	padding:9px 30px 9px 30px; 
	font-family:Arial; 
	font-size:10pt; 
	font-weight:bold;
	color:#ffffff; 
	margin-right: -4px;
	text-transform:uppercase;
	border-top:1px solid #9cbed2; 
	border-right:1px solid #607987; 
	border-left:1px solid #94b5c8; 
	background: #7195aa url(../images/bg.gif) repeat-x; 
	letter-spacing:.08em
}

ul li a:hover,
#explore #nav-explore,
#plan #nav-plan,
#add_destination #nav-add_destination,
#add_point_of_interest #nav-add_point_of_interest,
#add_accommodation #nav-add_accommodation,
#contact #nav-contact {
	color:#a2becf; 
	border-top:1px solid #72a0ba;
	border-right:1px solid #2a4a5f; 
	border-left:1px solid #8cb3c9; 
	background: #3b6a85 url(../images/bg2.gif) repeat-x
}

ul li a.first {border-left:0}
ul li a.last {border-right:0}
*/
html { height: 100% }
body { height: 100%; margin: 0; padding: 0; text-align: center; padding-top: 50px;}

#over-map { position: absolute; top: 10px; left: 10px; z-index: 99; opacity: 50%; width: 400px; height:50px;}

/*#nav-bar {
	background: #ABB3B8;
}*/

#content {
  margin-left: auto ;
  margin-right: auto ;
  color: black ;
  /* border: 1px solid black ; */
}

/*
.readonly {
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background: none repeat scroll 0 0 transparent;
    border: medium none !important;
    color: #000000;
}

.editable {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;  
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 5px;
    padding: 2px 3px;
    width: 398px;    
}*/

.transparent
{
   filter:alpha(opacity=75); 
   -moz-opacity: 0.75; 
   opacity: 0.75; 
}

.shadowy{
	-moz-box-shadow: 3px 3px 12px 1px #888;
	-webkit-box-shadow: 3px 3px 12px 1px #888;
	box-shadow: 3px 3px 12px 1px #888;
}

.horizontal-form {
  padding: 5px;
  border: 1px solid rgb(185,185,185);
}


.glyphicon-lg {
  font-size: 18px;
  line-height: 1.33;
}

.fa {
  display: inline-block;
}

.about {
  background-color: rgb(235,235,235);
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

input[type=range] {
  display: inline;
  width: auto;
}

label {
  display: inline;
  font-weight: 400;
  padding: 5px;
}

img {
  border: 1px;
}

/* nav bar */

.active-link {
    background-color: rgb(80,40,40);
 }

#home #nav-home,
#plan #nav-plan,
#add_destination #nav-add_destination,
#add_point_of_interest #nav-add_point_of_interest,
#add_accommodation #nav-add_accommodation,
#trips #nav-trips,
#login #nav-login,
#logout #nav-logout,
#about #nav-about 
#contact #nav-contact{
  background-color: rgb(80,40,40);
}

 .dropdown-menu > li > .active-link {
    color: white;
 }

 .dropdown-menu > li > a:hover {
    color: #ff6582;
 }


.navbar-default {
  background-color: #18091e;
  border-color: #645251;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #1BBCC1;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #1BBCC1;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #1BBCC1;
  background-color: #645251;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #1BBCC1;
  background-color: #645251;
}
.navbar-default .navbar-toggle {
  border-color: #645251;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #645251;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
  color: #ff6582;
}

/* Makes dropdown display on hover as well as click*/
.dropdown:hover .dropdown-menu {
    display: block;
 }


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #1BBCC1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #1BBCC1;
    background-color: #645251;
  }
}